NEXT_PUBLIC_APP_URL=https://app.example.com
NEXT_PUBLIC_SITE_URL=https://medicine.example.com
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_CLARITY_ID=
NEXT_PUBLIC_FB_PIXEL=
NEXT_PUBLIC_GSC_VERIFICATION=
NEXT_PUBLIC_BING_VERIFICATION=
NEXT_PUBLIC_YANDEX_VERIFICATION=
INDEXNOW_KEY=

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/medistore-seo
ADMIN_PASSWORD=your_secret_password

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret